{% macro order_session(session) %}
  {# `flex-col-reverse` lets the browser to pin scroll to bottom #}
  <div class="flex flex-col-reverse overflow-y-auto">
    <ul class="text-lg divide-y-4">
      {% for item_id, product in session.items.items() %}
        <li id="item-{{ item_id }}" class="flex justify-between">
          <div class="overflow-x-auto whitespace-nowrap sm:flex sm:flex-1 sm:justify-between p-4">
            <p class="sm:flex-1">{{ product.name }}</p>
            <div>{{ product.price_str() }}</div>
          </div>
          <div class="flex items-center">
            <button
              hx-delete="/order/items/{{ item_id }}"
              hx-target="#order-session"
              class="font-bold text-white bg-red-600 px-2 rounded"
            >X</button>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="flex flex-row p-2 items-center">
    <div class="basis-1/4 text-right lg:text-2xl">{{ session.total_count }} 点</div>
    <div class="basis-2/4 text-center lg:text-2xl">合計: {{ session.total_price_str() }}</div>
    <button
      hx-get="/order/confirm"
      hx-target="#order-confirm"
      class="basis-1/4 lg:text-xl text-center text-white px-2 py-1 rounded bg-blue-600 disabled:cursor-not-allowed disabled:text-gray-700 disabled:bg-gray-100"
      {{ 'disabled' if session.total_count == 0 else '' }}
    >確定</button>
    <div id="order-confirm"></div>
  </div>
{% endmacro %}
