{% macro order_issued(placement_id, session, error_status) %}
  <div class="relative z-10" aria-labelledby="confirm-dialog" role="dialog" aria-modal="true">
    <!-- background -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
    <div class="fixed inset-0 z-10 w-screen">
      <div class="flex h-full items-end justify-center py-4 px-10 text-center">
        <!-- dialog -->
        <div class="flex flex-col overflow-y-auto transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all max-h-full">
          <!-- text area wrapper -->
          <div class="flex flex-col overflow-y-auto bg-white px-4 pb-4 pt-5">
            <!-- text area -->
            {% if error_status == None %}
              <div class="flex flex-col overflow-y-auto mt-1 text-center">
                <h3 class=" font-semibold leading-6 text-gray-900 text-lg">注文番号 # {{placement_id}}</h3>
                <div class="flex flex-col overflow-y-auto mt-5">
                  <ul class="flex flex-col overflow-y-auto mx-1 px-3">
                    {% for product in session.counted_products.values() %}
                      <li class="flex flex-row justify-between items-start gap-x-6 text-lg">
                        <span class="break-words">{{ product.name }}</span>
                        <span class="whitespace-nowrap">{{ product.price }} x {{ product.count }}</span>
                      </li>
                    {% endfor %}
                  </ul>
                  <p class="flex flex-row mx-1 px-3 mt-5 justify-between text-lg">
                    <span class="break-words">計</span>
                    <span class="whitespace-nowrap">{{ session.total_count }} 点</span>
                  </p>
                  <p class="flex flex-row mx-1 px-3 justify-between text-lg">
                    <span class="break-words">合計金額</span>
                    <span class="whitespace-nowrap">{{ session.total_price_str() }}</span>
                  </p>
                </div>
              </div>
            {% else %}
              {{ error_status }}
            {% endif %}
          </div>
          <!-- control -->
          <div class="flex-none bg-gray-50 px-4 py-3">
            {% if error_status == None %}
              <button
                type="button"
                hx-post="/order"
                class="inline-flex w-full justify-center rounded bg-green-600 px-8 py-4 text-xl font-semibold text-white shadow-sm"
              >新規</button>
            {% else %}
              <button 
                type="button"
                onclick="htmx.swap('#order-confirm', '', {swapStyle: 'innerHTML'})"
                class="mt-3 inline-flex w-full justify-center rounded bg-white px-5 py-4 text-xl font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300"
              >キャンセル</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
