# murchace configuration
# MURCHACE_DEBUG=true

# Receipt Printer Settings
# MURCHACE_RECEIPT_PRINTER_HOST=192.168.1.100
# MURCHACE_RECEIPT_PRINTER_PORT=9100

# Receipt Store Information
# MURCHACE_RECEIPT_STORE_NAME=murchace
# MURCHACE_RECEIPT_STORE_ADDRESS=愛知県豊橋市天伯町字雲雀ヶ丘1-1
# MURCHACE_RECEIPT_LOGO_PATH=static/favicon.ico
