package main

templ head() {
	<head>
		<meta charset="UTF-8" />
		<title>order-notifier</title>
	</head>
}

templ index(name string) {
	<html lang="ja">
		@head()
		<body>
			<form action="" target="htmz"></form>
			<a href="/id.html" target="htmz"></a>
			<p>{ name }</p>
		</body>
		<iframe hidden name="htmz" onload="setTimeout(()=>document.querySelector(contentWindow.location.hash||null)?.replaceWith(...contentDocument.body.childNodes))"></iframe>
	</html>
}
