{% from "layout.html" import layout %}
{% from "components/clock.html" import clock %}

{% macro canceled_placements(placements) %}
  {% call layout("取消した確定注文 - murchace") %}
    <div class="h-dvh flex flex-col">
      <header class="w-full px-16 py-3 flex gap-3 border-b border-gray-500 text-2xl">
        <nav class="flex-grow">
          <ul class="flex flex-row gap-3">
            <li><a href="/" class="cursor-pointer px-2 rounded bg-gray-300">ホーム</a></li>
            <li><a hx-post="/order" class="cursor-pointer px-2 rounded bg-gray-300 hidden md:inline-block">注文</a></li>
          </ul>
        </nav>
        <form id="placements-filter" action="/placements" method="GET" class="mb-0 hidden md:flex md:flex-row gap-3">
          <a href="/incoming-placements" class="cursor-pointer px-2 rounded bg-gray-300">未受取</a>
          <a href="/canceled-placements" class="cursor-pointer px-2 rounded bg-gray-900 text-white">取消</a>
          <a href="/completed-placements" class="cursor-pointer px-2 rounded bg-gray-300">完了</a>
        </form>
        {{ clock() }}
      </header>
      <main id="placements" class="size-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 auto-rows-min gap-3 py-2 px-16 overflow-y-auto">
        {% for placement in placements | reverse %}
          <div
            id="placement-{{ placement.placement_id }}"
            class="size-full h-60 flex flex-col gap-y-2 border-2 border-gray-300 rounded-lg p-2"
          >
            <div class="width-full flex flex-row mx-1 items-start">
              <div class="grow flex flex-row items-end">
                <h2 class="text-2xl">#{{ placement.placement_id }}</h2>
                <span class="ml-1">@{{ placement.placed_at }}/{{ placement.canceled_at }}</span>
              </div>
              <button
                hx-post="/completed-placements/{{ placement.placement_id }}"
                hx-confirm="一度取り消した注文 #{{ placement.placement_id }} を完了しますか？"
                hx-target="#placement-{{ placement.placement_id }}"
                hx-swap="delete"
                class="px-2 py-1 text-white bg-red-600 rounded-lg"
              >完了</button>
            </div>
            <ul class="flex-grow overflow-y-auto">
              {% for product in placement.products %}
                <li class="flex flex-row justify-between items-start gap-x-2">
                  <span class="break-words">{{ product.name }}</span>
                  <span class="whitespace-nowrap">{{ product.price }} x {{ product.count }}</span>
                </li>
              {% endfor %}
            </ul>
            <p class="flex flex-row mx-1 justify-between">
              <span class="break-words">合計金額</span>
              <span class="whitespace-nowrap">{{ placement.total_price }}</span>
            </p>
            <button
              hx-post="/incoming-placements/{{ placement.placement_id }}"
              hx-target="#placement-{{ placement.placement_id }}"
              hx-confirm="一度取り消した注文 #{{ placement.placement_id }} を受け取り待ちに戻しますか？"
              hx-swap="delete"
              class="mx-8 py-1 border-2 border-gray-600 rounded-lg"
            >未受取に戻す</button>
          </div>
        {% endfor %}
      </main>
    </div>
  {% endcall %}
{% endmacro %}
