{% from "layout.html" import layout %}
{% from "components/clock.html" import clock %}

{% macro _head() %}
  <script src="{{ url_for('static', path='/sse.js') }}"></script>
{% endmacro %}

{% macro incoming_placements(placements) %}
  {% call layout("未受取注文 - murchace", _head()) %}
    <div class="h-dvh flex flex-col">
      <header class="w-full px-16 py-3 flex gap-3 border-b border-gray-500 text-2xl">
        <ul class="flex-grow hidden md:flex md:flex-row gap-3">
          <li class="flex-grow"><a href="/" class="cursor-pointer px-2 py-1 rounded bg-gray-300">ホーム</a></li>
          <li><a href="/placements/incoming" class="cursor-pointer px-2 py-1 rounded bg-gray-900 text-white">未受取：注文</a></li>
          <li><a href="/placed-items/incoming" class="cursor-pointer px-2 py-1 rounded bg-gray-300">未受取：商品</a></li>
          <li><a href="/placements/resolved" class="cursor-pointer px-2 py-1 rounded bg-gray-300">処理済</a></li>
        </ul>
        {{ clock() }}
      </header>
      <main
        id="placements"
        hx-ext="sse"
        sse-connect="/placements/incoming-stream"
        sse-swap="message"
        hx-swap="innerHTML"
        sse-close="shutdown"
        class="size-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 auto-rows-min gap-3 py-2 px-16 overflow-y-auto"
      >
        {{ component(placements) }}
      </main>
    </div>
  {% endcall %}
{% endmacro %}

{% macro component(placements) %}
  {% for placement in placements %}
    <div
      id="placement-{{ placement.placement_id }}"
      class="w-full h-60 flex flex-col gap-y-1 border-2 border-gray-300 rounded-lg pb-2"
    >
      <div class="width-full flex flex-row p-2 items-start">
        <div class="grow flex flex-row items-end">
          <h2 class="text-2xl">#{{ placement.placement_id }}</h2>
          <span class="ml-1">@{{ placement.placed_at }}</span>
        </div>
        <button
          hx-post="/placements/{{ placement.placement_id }}/canceled-at"
          hx-confirm="確定注文 #{{ placement.placement_id }} を取り消しますか？"
          hx-target="#placement-{{ placement.placement_id }}"
          hx-swap="delete"
          class="px-2 py-1 text-white bg-red-600 rounded-lg"
        >取消</button>
      </div>
      <ul class="flex-grow overflow-y-auto px-2 divide-y-2">
        {% for item in placement.items_ %}
          <li class="flex flex-row items-start gap-x-2 px-1">
            {% if item.supplied_at %}
              <span class="text-green-500 font-bold">✓</span>
            {% else %}
              <span class="text-red-500 font-bold">✗</span>
            {% endif %}
            <span class="break-words">{{ item.name }}</span>
            <span class="ml-auto whitespace-nowrap">x {{ item.count }}</span>
          </li>
        {% endfor %}
      </ul>
      <button
        hx-post="/placements/{{ placement.placement_id }}/completed-at"
        hx-target="#placement-{{ placement.placement_id }}"
        hx-swap="delete"
        class="mx-10 py-1 text-white bg-blue-600 rounded-lg"
      >完了</button>
    </div>
  {% endfor %}
{% endmacro %}
