{% extends "layout.html" %}

{% block title %}murchace - ホーム{% endblock %}

{% block body %}
  <div class="w-full h-dvh px-16 py-8 grid grid-cols-2 gap-12">
    <div class="flex items-center justify-center pt-4 text-4xl border-2 border-gray-500 rounded-2xl">
      <a hx-post="/orders" class="cursor-pointer">新しい注文</a>
    </div>
    <div class="flex items-center justify-center pt-4 text-4xl border-2 border-gray-500 rounded-2xl">
      <a href="/placements" class="cursor-pointer">確定注文一覧</a>
    </div>
    <div class="flex items-center justify-center pt-4 text-4xl border-2 border-gray-500 rounded-2xl">
      <a class="cursor-not-allowed">商品編集（未実装）</a>
    </div>
    <div class="flex items-center justify-center pt-4 text-4xl border-2 border-gray-500 rounded-2xl">
      <a class="cursor-not-allowed">設定（未実装）</a>
    </div>
  </div>
{% endblock %}
