<html lang="ja">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    {% if DEBUG %}
      <script src={{ url_for('static', path='/htmx.js') }}></script>
      <link rel="stylesheet" href={{ url_for('static', path='/styles.css') }}/>
    {% else %}
      <script src={{ url_for('static', path='/htmx.min.js') }}></script>
      <link rel="stylesheet" href={{ url_for('static', path='/styles.min.css') }}/>
    {% endif %}
  </head>
  <body>
    {% block inner %}
    {% endblock %}
  </body>
</html>
