{% macro layout(title = "murchace", head = "") %}
  <!DOCTYPE html>
  <html lang="ja">
    <head>
      <meta charset="UTF-8"/>
      <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
      <title>{{ title }}</title>
      <link rel="icon" type="image/x-icon" href={{ url_for('static', path='/favicon.ico') }}/>
      {% if DEBUG %}
        <script src={{ url_for('static', path='/htmx.js') }}></script>
        <link rel="stylesheet" href={{ url_for('static', path='/styles.css') }}/>
      {% else %}
        <script src={{ url_for('static', path='/htmx.min.js') }}></script>
        <link rel="stylesheet" href={{ url_for('static', path='/styles.min.css') }}/>
      {% endif %}
      {{ head }}
    </head>
    <body>
      {{ caller() }}
    </body>
  </html>
{% endmacro %}
