{% from "layout.html" import layout %}
{% from "components/clock.html" import clock %}
{% from "components/order-session.html" import order_session %}

{% macro orders(session_id, products, order_items, total_price, placement_status = "", order_frozen = false) %}
  {% call layout("新規注文 - murchace") %}
    <div class="h-dvh flex flex-row">
      <main class="w-4/6 h-full grid grid-cols-4 auto-cols-max gap-2 py-2 pl-10 pr-6 overflow-y-auto">
        {% for product in products %}
          <figure
            hx-post="/orders/{{ session_id }}/item"
            hx-vals='{"product_id": {{ product.product_id }}}'
            hx-target="#order-session"
            class="size-full flex flex-col border-4 rounded-md transition-colors ease-in-out active:bg-gray-100"
          >
            <img class="grow size-full" src={{ url_for('static', path=product.filename) }} alt={{ product.name }} />
            <figcaption class="text-center truncate">{{ product.name }}</figcaption>
            <div class="text-center">{{ product.price_str() }}</div>
          </figure>
        {% endfor %}
      </main>
      <aside class="w-2/6 h-full flex flex-col p-4 justify-between">
        <div class="flex flex-row py-2 items-center">
          <div class="flex-grow flex flex-row justify-around">
            <button class="text-center text-sm px-2 rounded bg-gray-300" tabindex="0">
              <a href="/" tabindex="-1">ホームに戻る</a>
            </button>
            <button class="text-xl text-center" tabindex="0">保留</button>
            <button
              hx-delete="/orders/{{ session_id }}"
              hx-target="#order-session"
              class="text-xl text-center text-red-600 px-2 rounded bg-gray-300"
              tabindex="0"
            >全消去</button>
          </div>
          <div class="text-xl flex flex-row gap-3">
            {{ clock() }}
          </div>
        </div>
        <div id="order-session" class="min-h-0 pt-2 flex flex-col">
          {{ order_session(session_id, order_items, total_price, placement_status = "", order_frozen = false) }}
        </div>
      </aside>
    </div>
  {% endcall %}
{% endmacro %}
