{% from "layout.html" import layout %}
{% from "components/clock.html" import clock %}

{% macro stat(stat) %}
  {% call layout("統計 - murchace") %}
    <header class="sticky z-10 inset-0 w-full px-16 py-3 flex gap-3 border-b border-gray-500 bg-white text-2xl">
      <ul class="grow flex flex-row gap-3">
        <li class="flex-grow"><a href="/" class="cursor-pointer px-2 py-1 rounded bg-gray-300">ホーム</a></li>
        <li class="hidden sm:block"><a href="/static/stat.csv" class="px-2 py-1 text-white bg-blue-600 rounded-lg">売上データの取得</a></li>
        <li class="hidden sm:block">{{ clock() }}</li>
      </ul>
    </header>
    <main class="py-2 px-16">
      <div class="lg:grid lg:grid-cols-3 border-2 border-b border-gray-300 rounded-t-lg divide-y-2 lg:divide-x-2 lg:divide-y-0 divide-gray-300">
        <div class="p-2">
          <h2 class="text-2xl">売上</h2>
          <p class="text-4xl text-center">{{ stat.total_sales_all_time }}</p>
        </div>
        <div class="p-2">
          <h2 class="text-2xl">今日の売上</h2>
          <p class="text-4xl text-center">{{ stat.total_sales_today }}</p>
        </div>
        <div class="p-2">
          <h2 class="text-2xl">平均提供時間</h2>
          <p class="text-4xl text-center">{{ stat.avg_service_time_all }}</p>
        </div>
      </div>
      <div class="lg:grid lg:grid-cols-3 border-2 border-t border-gray-300 rounded-b-lg divide-y-2 lg:divide-x-2 lg:divide-y-0 divide-gray-300">
        <div class="p-2">
          <h2 class="text-2xl">売上点数</h2>
          <p class="text-4xl text-center">{{ stat.total_items_all_time }}</p>
        </div>
        <div class="p-2">
          <h2 class="text-2xl">今日の売上点数</h2>
          <p class="text-4xl text-center">{{ stat.total_items_today }}</p>
        </div>
        <div class="p-2">
          <h2 class="text-2xl">予測待ち時間</h2>
          <p class="text-4xl text-center">{{ stat.avg_service_time_recent }}</p>
        </div>
      </div>
      <div class="flex flex-col gap-y-2">
        <h2 class="p-2 text-2xl">商品毎売上情報</h2>
        <table>
          <thead>
            <tr class="text-xl">
              <th class="border border-b-2 border-gray-300">画像</th>
              <th class="border border-b-2 border-gray-300 text-left px-2">商品名</th>
              <th class="border border-b-2 border-gray-300">価格</th>
              <th class="border border-b-2 border-gray-300">個数</th>
              <th class="border border-b-2 border-gray-300">今日の個数</th>
              <th class="border border-b-2 border-gray-300">売上</th>
              <th class="border border-b-2 border-gray-300">今日の売上</th>
              <th class="border border-b-2 border-gray-300">在庫（未実装）</th>
            </tr>
          </thead>
          <tbody>
            {% for sale in stat.sales_summary_list %}
              <tr>
                <td class="border border-gray-300">
                  <img src="/static/{{ sale.filename }}" alt="{{ sale.name }}" class="mx-auto w-16 h-auto aspect-square"/>
                </td>
                <td class="border border-gray-300 px-2">{{ sale.name }}</td>
                <td class="border border-gray-300 text-center">{{ sale.price }}</td>
                <td class="border border-gray-300 text-center">{{ sale.count }}</td>
                <td class="border border-gray-300 text-center">{{ sale.count_today }}</td>
                <td class="border border-gray-300 text-center">{{ sale.total_sales }}</td>
                <td class="border border-gray-300 text-center">{{ sale.total_sales_today }}</td>
                <td class="border border-gray-300 text-center">{{ sale.no_stock if sale.no_stock is not none else "N/A" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  {% endcall %}
{% endmacro %}
